*.der
*.fsv_sig
*.json
*.pem
*.sig
*.sjson
/apps-alpha/
/apps-beta/
/apps-stable/
/apps.0.sec
/apps/packages/*/*/*
!/apps/packages/*/*/*.toml
/download/
/extracted-apps-old/
/extracted-apps/
/lock
/root_apps.grapheneos.org.conf
/static-tmp/
apps.0.pub
